<%- include('partials/header') %>

<div class="gen container mt-5">
  <h1 class="text-center">Superhero Information</h1>

  <% if (superheroes.length > 0) { %>
    <div class="row">
      <% superheroes.forEach((superhero, index) => { %>
        <!-- Cada tarjeta de superhéroe -->
        <div class="col-md-4 mb-4 d-flex justify-content-center">
          <div class="cards card" style="width: 18rem;">
            <img src="<%= superhero.images.md %>" class="card-img-top" alt="<%= superhero.name %>">
            <div class="card-body">
              <h4 class="card-title"><%= superhero.name %></h4>
              <!-- Botón que eventualmente llevará al perfil completo -->
              <a href="#" class="bott btn btn-primary">View Profile</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p class="text-center">No superheroes found with that name.</p>
  <% } %>
</div>
<%- include('partials/footer') %>
