<%- include('partials/header') %>

<h1>Superhero Information</h1>

  <form action="/superhero" method="POST">
    <input type="text" name="id" placeholder="Enter Superhero ID" required>
    <button type="submit">Get Superhero Info</button>
  </form>

  <% if (superhero) { %>
    <div class="superhero-info">
      <h2><%= superhero.name %></h2>
      <img src="<%= superhero.images.md %>" alt="<%= superhero.name %>">
      <p><strong>Full Name:</strong> <%= superhero.biography.fullName %></p>
      <p><strong>Publisher:</strong> <%= superhero.biography.publisher %></p>
      <p><strong>Alignment:</strong> <%= superhero.biography.alignment %></p>
      <p><strong>Powerstats:</strong> Intelligence: <%= superhero.powerstats.intelligence %>, Strength: <%= superhero.powerstats.strength %></p>
    </div>
  <% } else { %>
    <p>No superhero data found.</p>
  <% } %>

<%- include('partials/footer') %>