<%- include('partials/header') %>
<h1>Superhero Information</h1>

<% if (superheroes.length > 0) { %>
  <div class="superhero-list">
    <% superheroes.forEach(superhero => { %>
      <div class="card" style="width: 18rem;">
        <img src="<%= superhero.images.md %>" alt="<%= superhero.name %> " style="height: 350px;">
        <div class="card-body">
          <h5 class="card-title"><%= superhero.name %></h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% }) %>
  </div>
<% } else { %>
  <p>No superheroes found with that name.</p>
<% } %>
<%- include('partials/footer') %>
